* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-brazucaAi: #0D8C39;
    --azul-brazucaAi: ;
    --amarelo-brazucaAi: ;
    --preto-brazucaAi: ;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    
    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: url(IMG/background_home.png);
    background-repeat: no-repeat;

    background-size: cover;
    background-attachment: fixed;
}

.banner header {
    height: 350px;
}

.banner header button {
    display: none;
}

.banner header img {
    width: 200px;
}

nav.menu {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
}

nav.menu a{
    font-size: 20px;
    font-family: "Archivo Narrow";

    color: white;

    text-decoration: none;

    transition: 500ms ease;
}

nav.menu a:hover {
    color: #0d8c39;
}


.conteudo-banner {
    height: calc(100vh - 280px);

    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.conteudo-banner p {
    color: white;

    font-family: "Archivo Narrow";
    font-size: 90px;
}

.conteudo-banner span {
    color: var(--verde-brazucaAi);

    overflow: visible;

    transition: 500ms ease;
}

.conteudo-banner span:hover {
    color: #104522;
}

#sobre {
    height: 1000px;
    padding: 200px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sobre h2 {
    color: var(--verde-brazucaAi);

    font-family: "Archivo Narrow";
    font-size: 55px;

    padding-bottom: 10px;
}

.texto {
    display: flex;
    flex-direction: column;
}

#sobre p {
    font-size: 17px;
    font-family: "noto sans";

    text-align: left;

    line-height: 1.8;
}

.slideshow {
    position: absolute;
    width: 450px;
    height: 400px;
    overflow: hidden;

    align-self: flex-end;
  }
  
  .slideshow img {
    position: right;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: fade 5s infinite;

    border-radius: 10px;
  }
  
  .slideshow a {
      text-decoration: none;
      padding: 0;
      margin: 0;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }






